body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

.calculator {
  text-align: center;
}

input {
  margin-bottom: 10px;
}

.chart {
  display: flex;
  height: 100px;
  position: relative;
}

.green-bar,
.red-bar {
  width: 20px;
}

.green-bar {
  background-color: green;
  transition: height 0.3s;
}

.red-bar {
  background-color: red;
  position: absolute;
  bottom: 0;
  transition: height 0.3s;
}